<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Email from GVS Contact Form %></h1>
<p>
  Name: <%= @message.name %>.<br/>
  Email: <%= @message.email %>.<br/>
  Message: <%= @message.body %>.<br/>
</p>


</body>
</html>