<h1>Editing Application Form</h1>
<br>
<% if current_user.admin? %>
<%= link_to '<span class="glyphicon glyphicon-chevron-left"></span>&nbsp;&nbsp;Back to Listing'.html_safe, acc_applications_path, class: "btn btn-sm btn-primary" %><span style="margin-left: 10px">&nbsp;</span>
<% end %>
<%= link_to '<span class="glyphicon glyphicon-eye-open"></span>&nbsp;&nbsp;Show Application'.html_safe, @acc_application, class: "btn btn-sm btn-primary" %>
<br><br>

<%= render 'form' %>

