<div class="row well" id="rowspacer">
  <div class="col-md-10">
    <h2>Thank you for your interest in the GVS Transmedia Accelerator!</h2>
    <h4>GVS Transmedia Accelerator is looking for transmedia startup companies with Intellectual Property (IP) geared for wide commercial audiences that may be developed into sustainable business models for maximizing return on investment through multiple product platforms (1 lead product and at least 2 supporting products).  The Accelerator is targeting Hawai’i-based entrepreneurial teams/Hawai’i-owned transmedia companies and preference will be shown to candidates who demonstrate plans to produce products or to capture and retain the value of their IP in Hawai’i, or continue business activities in Hawai’i.</h4>
    <br>
    <p>Applicants must demonstrate potential for commercial viability and compelling vision for creative execution.  GVS Transmedia Accelerator is looking for a strong team dynamic in its selected startups (up to three founders per company may attend Accelerator functions and use the co-work space) .  A good team is a recipe for success!</p>
    <p>A competitive opportunity, the Accelerator will select up to 6 startup companies for the first cycle (2014).</p>
    <p><i>The application acceptance period is from Friday, April 11th, 2014 to May 9th, 2014.</i></p>
    <p>Our application process for startup transmedia companies includes a total of three phases.  Applicants who meet requirements will be ushered on to each subsequent phase.</p>
    <ol><li>Phase one: submission of basic applicant/company information</li>
    <li>Phase two: franchise profile & impact</li>
    <li>Phase three: interviews and selection process</li></ol>
    <br>
    <h4>Applicants must be able to demonstrate:</h4>
    <ul><li>Clearance of intellectual property or proof of ability to acquire</li>
    <li>Clear commercial lead transmedia product</li>
    <li>Registration of current script draft with the Writer’s Guild of America (if film or tv)</li>
    <li>Intended audience/market</li>
    <li>Other transmedia platforms to be utilized (must propose at least 3 total products/platforms including lead product)</li>
    <li>Proposed primary delivery/distribution method for each transmedia product</li></ul>

    <h4>The application process will include a review of:</h4>
    <ul><li>Lead product/project script (full draft preferred but treatments may be considered respective to the product)</li>
    <li>Reference material portraying artistic concept</li>
    <li>Early/initial draft business plan (may include proforma, sales projections) including plan for sustainability/exit strategy</li>
    <li>Early/initial marketing analysis</li></ul>
    <p><strong>Please download, complete and return the <%= link_to "Application Release Form", "../assets/GVS_Transmedia_Accelerator_Program_Application_Release.pdf", target: "_blank" %> to the email address: <%= mail_to "accel@globalvirtualstudio.com", "accel@globalvirtualstudio.com" %>.<br>Your application will not be reviewed until we have received this form.</strong></p>
  </div>
</div>

<br>

<%= render 'form' %>
