<div class="row well" id="rowspacer">
    <div class="col-md-10">
    <%= @acc_application.appform_field_1 %>
    </div>
</div>

<%= link_to 'Edit', edit_acc_application_path(@acc_application) %> |
<%= link_to 'Back', acc_applications_path %>
