<% provide(:title, 'About us') %>
<% provide(:carousel, '') %>

    <div class="page-header" id="whiteBg">
		<div class="row"><div class="col-sm-9">
      <h1>Global Virtual Studio<br /><small>Why we do things? What we do? How we do it? Where we are at?</small></h1>
      <p id="rowspacer">Global Virtual Studio (GVS) is a team of content creators based on the Big Island of Hawai'i who are passionate about transforming original ideas into stories and bringing them to life.  Utilizing the talent of the global community, GVS works to fully conceptualize and then refine dynamic characters, stories and ideas to shape uniquely stunning creations.</p>
      <p>Founded by veteran filmmaker and entrepreneur David L. Cunningham, Global Virtual Studio (GVS) employs an innovative model of virtual production that maximizes untapped creativity, world time-zones and economies of scale.  GVS specializes in everything from creative proof of concept and previsualization to post production and marketing for a wide array of transmedia products.</p>
  </div></div>
      <h3 id="rowspacer">Videos</h3>

      <div class="row">
        <div class="col-md-5">
            <div class="videoWrapper" style="margin: 0 auto">
              <iframe allowfullscreen="" src="http://player.vimeo.com/video/76922198" frameborder="0" width="500" height="281"></iframe>
            </div>
        </div>
        <div class="col-md-5">
            <div class="videoWrapper" style="margin: 0 auto">
              <iframe allowfullscreen="" src="http://player.vimeo.com/video/76920571" frameborder="0" width="500" height="281"></iframe>
            </div>
        </div>
      </div>
    </div>


    <!-- End Main Content -->