<% provide(:title, 'About us') %>
<% provide(:carousel, '') %>

    <div class="page-header" id="whiteBg">
		<div class="row"><div class="col-sm-9">
      <h1>Global Virtual Studio<br /><small>Connect. Create. Transform.</small></h1>
          <div id="rowspacer">
            <div class="well">
              <h4 id="noBold"><strong>Connect:</strong> Global Virtual Studio connects projects with artists from around the world - facilitating transmedia content creation at a global scale.</h4>
              <h4 id="noBold"><strong>Create:</strong> Creating one-of-a-kind original transmedia products.</h4>
              <h4 id="noBold"><strong>Transform:</strong> Transforming ideas into culture for the kind of world we want to live in.</h4>
            </div>
              <h3 id="rowspacer">Created in Hawai’i - made for the World</h3>
                <p>Global Virtual Studio (GVS) is a team of content creators based on the Big Island of Hawai'i and connected to the world. GVS is passionate about transforming original ideas into stories and bringing them to life. Utilizing the talent of the global community, GVS works to fully conceptualize and then refine dynamic characters, stories and ideas to shape uniquely stunning creations.</p>
      <p>Founded by veteran filmmaker and entrepreneur David L. Cunningham, Global Virtual Studio (GVS) employs an innovative model of virtual production that maximizes untapped creativity, world time-zones and economies of scale. GVS specializes in everything from creative proof of concept and previsualization to post production and marketing for a wide array of transmedia products.</p>
          </div>
        </div>
    </div>
      <h3 id="rowspacer">Videos</h3>
      <div class="row">
        <div class="col-md-5">
            <div class="videoWrapper" style="margin: 0 auto">
              <iframe allowfullscreen="" src="https://player.vimeo.com/video/76922198" frameborder="0" width="500" height="281"></iframe>
            </div>
        </div>
        <div class="col-md-5">
            <div class="videoWrapper" style="margin: 0 auto">
              <iframe allowfullscreen="" src="https://player.vimeo.com/video/76920571" frameborder="0" width="500" height="281"></iframe>
            </div>
        </div>
      </div>
    </div>


    <!-- End Main Content -->