<script type="text/javascript">
    $(document).ready(function() {
        $(".fancybox").fancybox();
    });
</script>

<% provide(:title, 'Character Development') %>
<% provide(:carouselimg, 'c_services01.jpg') %>
<% content_for :carousel do %>
    <%= render 'layouts/carousel' %>
<% end %>

<div class="page-header" id="whiteBg">
  <h1>Character Development</h1>
  <div class="row">
	  <div class="col-sm-9">
  <h4>GVS creates a team of specialized storyteller to develop characters and refine stories. Script consultations; business and marketing plans - we have experts that can assist in every area of your transmedia project
  </h4>
</div></div>

  <div class="row" id="rowspacer">
    <h3 id="leftHeaderMargin">Projects</h3>
    <div class="col-sm-6 col-md-3">
        <a class="fancybox" rel="group" href="/assets/story/600px/story-01.jpg"><img src="/assets/story/story-01.jpg" class="thumbnail"></a>
    </div>
    <div class="col-sm-6 col-md-3">
        <a class="fancybox" rel="group" href="/assets/story/600px/story-02.jpg"><img src="/assets/story/story-02.jpg" class="thumbnail"></a>
    </div>
    <div class="col-sm-6 col-md-3">
        <a class="fancybox" rel="group" href="/assets/story/600px/story-03.jpg"><img src="/assets/story/story-03.jpg" class="thumbnail"></a>
    </div>
    <div class="col-sm-6 col-md-3">
        <a class="fancybox" rel="group" href="/assets/story/600px/story-04.jpg"><img src="/assets/story/story-04.jpg" class="thumbnail"></a>
    </div>
  </div>

  <div class="row" id="rowspacer">
    <div class="col-sm-6 col-md-3">
        <a class="fancybox" rel="group" href="/assets/story/600px/story-05.jpg"><img src="/assets/story/story-05.jpg" class="thumbnail"></a>
    </div>
    <div class="col-sm-6 col-md-3">
        <a class="fancybox" rel="group" href="/assets/story/600px/story-06.jpg"><img src="/assets/story/story-06.jpg" class="thumbnail"></a>
    </div>
    <div class="col-sm-6 col-md-3">
        <a class="fancybox" rel="group" href="/assets/story/600px/story-07.jpg"><img src="/assets/story/story-07.jpg" class="thumbnail"></a>
    </div>
    <div class="col-sm-6 col-md-3">
        <a class="fancybox" rel="group" href="/assets/story/600px/story-08.jpg"><img src="/assets/story/story-08.jpg" class="thumbnail"></a>
    </div>
  </div>
</div>


<!-- End Main Content -->

