<script type="text/javascript">
    $(document).ready(function() {
        $(".fancybox").fancybox();
    });
</script>

<% provide(:title, 'Conce') %>
<% provide(:carouselimg, 'concept_carousel.jpg') %>
<% content_for :carousel do %>
    <%= render 'layouts/carousel' %>
<% end %>

<div class="page-header" id="whiteBg">
  <h1>Concept Art</h1>
  <div class="row">
	  <div class="col-sm-9">
		  <h4>With our vast network of highly skilled concept artist we can take the words from your script and transform them into visual representation of what they will look like on screen. Because we are a global community we will make sure that the right artists are developing the right art for your project.
		  </h4>
	  </div>
  </div>
  
  <div class="row" id="rowspacer">
      <h3 id="leftHeaderMargin">Projects</h3>
    <div class="col-sm-6 col-md-3">
      <a class="fancybox" rel="group" href="/assets/conceptart/600px/conc-01.jpg"><img src="/assets/conceptart/conc-01.jpg" class="thumbnail"></a>
    </div>
    <div class="col-sm-6 col-md-3">
        <a class="fancybox" rel="group" href="/assets/conceptart/600px/conc-02.jpg"><img src="/assets/conceptart/conc-02.jpg" class="thumbnail"></a>
    </div>
    <div class="col-sm-6 col-md-3">
        <a class="fancybox" rel="group" href="/assets/conceptart/600px/conc-03.jpg"><img src="/assets/conceptart/conc-03.jpg" class="thumbnail"></a>
    </div>
    <div class="col-sm-6 col-md-3">
        <a class="fancybox" rel="group" href="/assets/conceptart/600px/conc-04.jpg"><img src="/assets/conceptart/conc-04.jpg" class="thumbnail"></a>
    </div>
  </div>

  <div class="row" id="rowspacer">
    <div class="col-sm-6 col-md-3">
        <a class="fancybox" rel="group" href="/assets/conceptart/600px/conc-05.jpg"><img src="/assets/conceptart/conc-05.jpg" class="thumbnail"></a>
    </div>
    <div class="col-sm-6 col-md-3">
        <a class="fancybox" rel="group" href="/assets/conceptart/600px/conc-06.jpg"><img src="/assets/conceptart/conc-06.jpg" class="thumbnail"></a>
    </div>
    <div class="col-sm-6 col-md-3">
        <a class="fancybox" rel="group" href="/assets/conceptart/600px/conc-07.jpg"><img src="/assets/conceptart/conc-07.jpg" class="thumbnail"></a>
    </div>
    <div class="col-sm-6 col-md-3">
        <a class="fancybox" rel="group" href="/assets/conceptart/600px/conc-08.jpg"><img src="/assets/conceptart/conc-08.jpg" class="thumbnail"></a>
    </div>
  </div>

  <div class="row" id="rowspacer">
    <div class="col-sm-6 col-md-3">
        <a class="fancybox" rel="group" href="/assets/conceptart/600px/conc-09.jpg"><img src="/assets/conceptart/conc-09.jpg" class="thumbnail"></a>
    </div>
    <div class="col-sm-6 col-md-3">
        <a class="fancybox" rel="group" href="/assets/conceptart/600px/conc-10.jpg"><img src="/assets/conceptart/conc-10.jpg" class="thumbnail"></a>
    </div>
    <div class="col-sm-6 col-md-3">
        <a class="fancybox" rel="group" href="/assets/conceptart/600px/conc-11.jpg"><img src="/assets/conceptart/conc-11.jpg" class="thumbnail"></a>
    </div>
    <div class="col-sm-6 col-md-3">
        <a class="fancybox" rel="group" href="/assets/conceptart/600px/conc-12.jpg"><img src="/assets/conceptart/conc-12.jpg" class="thumbnail"></a>
    </div>
  </div>

  <div class="row" id="rowspacer">
    <div class="col-sm-6 col-md-3">
        <a class="fancybox" rel="group" href="/assets/conceptart/600px/conc-13.jpg"><img src="/assets/conceptart/conc-13.jpg" class="thumbnail"></a>
    </div>
    <div class="col-sm-6 col-md-3">
        <a class="fancybox" rel="group" href="/assets/conceptart/600px/conc-14.jpg"><img src="/assets/conceptart/conc-14.jpg" class="thumbnail"></a>
    </div>
    <div class="col-sm-6 col-md-3">
        <a class="fancybox" rel="group" href="/assets/conceptart/600px/conc-15.jpg"><img src="/assets/conceptart/conc-15.jpg" class="thumbnail"></a>
    </div>
    <div class="col-sm-6 col-md-3">
      <a class="fancybox" rel="group" href="/assets/conceptart/600px/conc-17.jpg"><img src="/assets/conceptart/conc-17.jpg" class="thumbnail"></a>
    </div>

  </div>

  <div class="row" id="rowspacer">
    <div class="col-sm-6 col-md-3">
      <a class="fancybox" rel="group" href="/assets/conceptart/600px/conc-21.jpg"><img src="/assets/conceptart/conc-21.jpg" class="thumbnail"></a>
    </div>
    <div class="col-sm-6 col-md-3">
        <a class="fancybox" rel="group" href="/assets/conceptart/600px/conc-18.jpg"><img src="/assets/conceptart/conc-18.jpg" class="thumbnail"></a>
    </div>
    <div class="col-sm-6 col-md-3">
        <a class="fancybox" rel="group" href="/assets/conceptart/600px/conc-19.jpg"><img src="/assets/conceptart/conc-19.jpg" class="thumbnail"></a>
    </div>
    <div class="col-sm-6 col-md-3">
        <a class="fancybox" rel="group" href="/assets/conceptart/600px/conc-20.jpg"><img src="/assets/conceptart/conc-20.jpg" class="thumbnail"></a>
    </div>
  </div>
</div>
<!-- End Main Content -->

