<% provide(:title, 'Development') %>
<% provide(:carousel, '') %>

<div class="page-header" id="whiteBg">
  <div class="row"><div class="col-sm-9">
    <h1>GVS Development<br /><small>GVS specializes in the development of transmedia projects and franchises</small></h1>
    <div id="rowspacer">
      <p>Packaging and polishing concepts to launch original, future-proof, impacting products for wide commercial audiences.  From script development to breakdowns, schedule and budget for execution to business, marketing and distribution plans and creative proof of concept, GVS accelerates projects to their next level positioning them for successful financing.</p>
      <p>For more information on GVS development and to see sample franchise packages, please email: <a href="mailto:development@globalvirtualstudio.com">development@globalvirtualstudio.com</a></p>
    </div>
  </div>
  </div>
</div>


<!-- End Main Content -->