<% provide(:title, 'Editorial') %>
<% provide(:carouselimg, 'audio_carousel.jpg') %>
<% content_for :carousel do %>
    <%= render 'layouts/carousel' %>
<% end %>

<div class="page-header" id="whiteBg">
  <h1>Editorial</h1>
  <div class="row">
	  <div class="col-sm-9">
        <h4>With our team of versatile editors, GVS facilitates rough cuts, motion graphics, <%= link_to "VFX", vfx_path %>, color correction and everything needed for picture lock. Along with our capabilities in <%= link_to "Audio Production", filmaudio_path %>, we can take your raw materials and sculpt them into a dynamic finished product.</h4>
        </div>
  </div>

</div>

<!-- End Main Content -->

