<% provide(:title, 'FAQ') %>
<% provide(:carousel, '') %>

<div class="page-header" id="whiteBg">
   <div class="row">
      <div class="col-sm-10">
        <h2>Frequently Asked Questions</h2>
          <div id="rowspacer">
            <h3>General</h3>
            <h4>WHAT is transmedia?</h4>
            <p>Transmedia is the technique of telling a single story or delivering a story experience across multiple platforms using current digital technologies.</p>
            <h4>WHAT will the Accelerator do?</h4>
            <p>Accelerate promising Hawai’i-based transmedia companies in startup whose story concepts show strong potential as commercially viable franchises - expressing story over multiple platforms.  Selected companies will be coached through their development processes (financed by seed funding in exchange for equity ownership) in a 6-month intensive program positioning them for successful follow-on financing.</p>
            <h4>WHO is the Accelerator for?</h4>
            <p>For Hawaii’s creative entrepreneurial teams/companies who have already begun developing their IP for multiple storytelling platforms and can demonstrate commercial viability and compelling vision for creative execution. The application process will require candidates to submit current drafts of their lead product’s script and show proof of chain of title.  Six companies will be selected per cycle.</p>
             <h4>WHEN</h4>
                  <p><strong>...is the Application period?</strong><br>
                  The Accelerator will be accepting applications from April 11, 2014 through May 9, 2014.</p>
                  <p><strong>...does the first cycle’s intensive program start?</strong><br>
                  The first cycle will begin upon final selection of the cohort startup companies.  We project late May/early June 2014.</p>
            <h4>HOW</h4>
                  <p><strong>...do people apply?</strong><br>
                  The application is available on our website at www.globalvirtualstudio.com/accelerator</p>
                  <p><strong>...and what are the general requirements for candidates?</strong><br>
                  The GVS Transmedia Accelerator will target companies with Intellectual Property (IP) geared for wide commercial audiences and sustainable business models for maximizing return on investment through multiple product platforms.</p>
                  <p>The applicant must demonstrate potential for commercial viability and compelling vision for creative execution.</p>
                  <p>The application process will require candidates to submit current draft of their lead product’s script and show proof of chain of title.</p>
                  <p>The Accelerator is targeting Hawai’i-based entrepreneurial teams/ Hawai’i owned transmedia companies & preference will be shown to candidates who demonstrate plans to produce products or to capture and retain the value of their IP in Hawai’i, or continue business activities in Hawai’i.</p>
            <h4>OTHER</h4>
                  <p><strong>What sorts of companies do you fund?</strong><br>
                  We are looking to fund companies whose story concepts show strong potential as commercially viable franchises.  The story must be able to be dynamically expressed over multiple platforms for multiple revenue streams.  Startups with strong founder teams preferred.</p>
                  <p><strong>Who’s behind the program?</strong><br>
                  David L. Cunningham, international filmmaker and entrepreneur and the Founder and Executive Director of the GVS Transmedia Accelerator.  He and his GVS Team are at the helm of the Accelerator.  In addition, an independent Board of entertainment and business executives manage the associated Development Fund which selects and seeds the startup companies.</p>
                  <p><strong>Can I meet with the Accelerator Director or those who will be reviewing the applications?</strong><br>
                  Interviews will be incorporated into the final phase of the application process for those candidates who meet all previous requirements.</p>
                  <p><strong>Where is the GVS Transmedia Accelerator facility and what would be available to me as a selected startup?</strong><br>
                  Our facility is located at Honua Studios in beautiful Kailua-Kona, HI.  Synergistic co-work space including internet access, shared access to conference room, quiet work space and more will be available to selected companies.</p>
                  <p><strong>Can I stop by the Accelerator facility to check you out?</strong><br>
                  Currently we are renovating our new facility space so we are not yet ready for company.  When we do move in (projected: early June) we will periodically have drop-in times over lunch hour.  If you’d like to come visit us, email accel@globalvirtualstudio.com and someone will be happy to connect!</p>
                  <p><strong>If my company is selected, would I have to work at the Accelerator facility?</strong><br>
                  No - you’re welcome to work wherever suits you.  (We think our studio is pretty cool though!) Team members will, however, be required to attend certain workshops, seminars and events at the facility.</p>
                  <p><strong>What are the other perks for GVS Transmedia Accelerator startups?</strong><br>
                  Creative Community Events & Speaker Series: gatherings, screenings, creative collabs, topical seminars, peer workshopping and more</p>
                  <ul><li>Mentors: one on one advising from experienced professionals</li>
                  <li>Networking: selected startups will benefit from introductions and mentorship relationships with our industry standout advisory committee and consultants</li>
                  <li>Tailored curriculum and hands-on coaching through GVS’ unique Transmedia pipeline to polish and package franchise portfolios</li>
                  <li>Accelerator Showcase upon graduation</li></ul>
                  <p><strong>What would a typical week look like for a startup going through the Accelerator?</strong><br>
                  Each startup company will be on it’s own curriculum respective of its specific needs.  Companies will work closely with their coach to set benchmarks and review development progress on a weekly basis in collaboration with their mentor(s).  Entire cohort workshops and seminars will be organized at strategic junctures of the cycle and at the availability of key speakers and industry professionals.</p>
                  <p><strong>How much funding do selected companies receive and what is the equity stake?</strong><br>
                  Selected companies will receive $50,000 in seed funding in exchange for a 10% equity stake.</p>
                  <p><strong>Could my company use the seed funding however we like?</strong><br>
                  As a part of the final phase of selection, and based upon the specific development needs of the startup, candidates will work together with Accelerator coaches to determine the most effective use of startup funds.  A proposed budget is then submitted for final consideration and funding.</p>
                  <p><strong>Do I have to commit to the whole 6-month intensive period?</strong><br>
                  Each company will have its own needs and work at its own pace.  If you are selected and receive seed funding, you are expected to complete the acceleration process at the advice and direction of your coach and mentors.</p>
                  <p><strong>Do I have to live in Kona during the intensive period?</strong><br>
                  No, you do not.  Team members will, however, be required to attend certain workshops, seminars and events at the facility.</p>
                  <p><strong>What happens after the 6-month intensive period?</strong><br>
                  At the end of the six month intensive program, each company will have a polished and packaged transmedia franchise plan including investor presentation and business plan for at least three different expressions of their IP constituting multiple revenue streams. This portion of the program will end with an investor Showcase Day attended by potential follow-on funders including those in the networks of Accelerator advisors, mentors and consultants. Companies will then be poised to rapidly raise follow-on funding over the next six month period of supported pitching and fundraising.</p>
                  <p><strong>Do I have to raise follow-on funding immediately after my company’s acceleration period?</strong><br>
                  Yes - unless founders, coaches and mentors agree that the company needs further development.</p>
                  <p><strong>Does the Program fund non-profits?</strong><br>
                  The GVS Transmedia Accelerator Program will not select non-profit companies for acceleration as it is a for profit venture.  Investors are looking to recoup and receive competitive returns on their capital.</p>
                  <p><strong>What sort of partnership will I be entering into with the Accelerator?  What sort of control am I giving to the Accelerator Funding entity by granting it equity in my company?</strong><br>
                  The funding entity (GTA Development Fund, LLC) will be a minority interest owner at 10% equity stake. Essentially, we don’t want any special or controlling interests in your company or uncommon investor rights, nor do we need a board seat.  Just looking for a great return on a great investment!</p>

                  <h4>CONTACT</h4>
                  <h5>For Press & Outreach: JUSTIN TORRENCE, <%= mail_to "j.torrence@globalvirtualstudio.com", "jtorrence@globalvirtualstudio.com" %>, (808) 313-1721</h5>
                  <h5>For General Information: <%= mail_to "accel@globalvirtualstudio.com", "accel@globalvirtualstudio.com" %></h5>
                  <br>
                  <h3>FAQ for Applicants</h3>

                  <p><strong>Do I have to answer all the questions to be considered?  Do I have to submit all the requested materials?</strong><br>
                  Questions marked with an asterisk (*) must be answered for consideration.  Other questions are meant to help program facilitators get a better picture of where you’re at in your development process.</p>
                  <p><strong>Do I have to be a Hawai’i resident entrepreneur to apply?</strong><br>
                  No, but keep in mind the Accelerator is targeting Hawai’i-based entrepreneurial teams/ Hawai’i owned transmedia companies & preference will be shown to candidates who demonstrate plans to produce products or to capture and retain the value of their IP in Hawai’i, or continue business activities in Hawai’i</p>
                  <p><strong>Can I apply if I’m not a US citizen?</strong><br>
                  Yes, but your startup company must be a US domiciled company.</p>
                  <p><strong>I am the only founder of my startup, can I still apply?</strong><br>
                  Yes, you may apply as a sole founder.  We do recommend, however, that you begin to look seriously for complementary team members to share the founding responsibilities and ownership with you.  Applicants will be considered, in part, based on the strength of the team.</p>
                  <p><strong>Can I apply if my idea is in its early stages of formation?</strong><br>
                  The GVS Transmedia Accelerator is geared towards transmedia companies who have already formed their story concept and have a script draft for their lead product.  For those who are in earlier stages of incubation and concept development, we recommend programs such as HIFF’s Creative Lab http://www.hiff.org/education/creative-lab</p>
                  <p><strong>Is my company already too developed to apply?</strong><br>
                  Probably not.  Any investment (time, finances, resources) you’ve already put into your startup will be maximized when supported, enhanced, and furthered by the acceleration process.  On the other hand, you may even discover some new strategies in connection with our Pipeline model and wish to make tweaks to your current plan.</p>
                  <p><strong>I’m submitting elements of my IP for review as a part of the application process and signed a waiver releasing GVS Transmedia Accelerator from liability.  Will my IP be protected?</strong><br>
                  Materials requested for review by the Accelerator Program will only be seen by those facilitating the Program and the selection process and for the express purpose of considering your application.</p>
           </div>
      </div>
    </div>
</div>

<!-- End Main Content -->