<% provide(:title, 'Audio Production') %>
<% provide(:carouselimg, 'audio_carousel.jpg') %>
<% content_for :carousel do %>
    <%= render 'layouts/carousel' %>
<% end %>

<div class="page-header" id="whiteBg">
  <h2>Audio Production</h2>
  <div class="row">
	  <div class="col-sm-10">
        <h4>GVS facilitates audio production to meet your needs for music, sound design, sound FX and more - enhancing your project with original sound created by our international fellowship of artists.
          <p></p><ul><li>Sound Effects</li>
          <li>Sound Design</li>
          <li>Film Scoring</li>
          <li>Music for Video Game</li>
          <li>Mixing</li>
        </ul></h4>
        </div>
  </div>
  <div class="row" id="rowspacer">
    <h3 id="leftHeaderMargin">Samples</h3>
    <div class="col-sm-6 col-md-6">
      <div class="videoWrapper" style="margin: 0 auto">
        <iframe webkitallowfullscreen mozallowfullscreen allowfullscreen src="https://player.vimeo.com/video/81224846" frameborder="0" width="500" height="281"></iframe>
      </div>
    </div>
    <div class="col-sm-6 col-md-6">
      <div class="videoWrapper" style="margin: 0 auto">
        <iframe webkitallowfullscreen mozallowfullscreen allowfullscreen src="https://player.vimeo.com/video/81224845" frameborder="0" width="500" height="281"></iframe>
      </div>
    </div>
  </div>
  <div class="row" id="rowspacer">
    <div class="col-sm-6 col-md-6">
      <div class="videoWrapper" style="margin: 0 auto">
        <iframe webkitallowfullscreen mozallowfullscreen allowfullscreen src="https://player.vimeo.com/video/81224844" frameborder="0" width="500" height="281"></iframe>
      </div>
    </div>
    <div class="col-sm-6 col-md-6">
      <div class="videoWrapper" style="margin: 0 auto">
        <iframe webkitallowfullscreen mozallowfullscreen allowfullscreen src="https://player.vimeo.com/video/81224755" frameborder="0" width="500" height="281"></iframe>
      </div>
    </div>
  </div>

</div>

<!-- End Main Content -->

