<% provide(:title, 'Audio Production') %>
<% provide(:carouselimg, 'audio_carousel.jpg') %>
<% content_for :carousel do %>
    <%= render 'layouts/carousel' %>
<% end %>

<div class="page-header" id="whiteBg">
  <h1>Audio Production</h1>
  <div class="row">
	  <div class="col-sm-9">
        <h4>GVS facilitates audio production to meet your needs for music, sound design, sound FX and more - enhancing your project with original sound created by our international fellowship of artists.
          <p></p><ul><li>Sound Effects</li>
          <li>Sound Design</li>
          <li>Film Scoring</li>
          <li>Music for Video Game</li>
          <li>Mixing</li>
        </ul></h4>
        </div>
  </div>

</div>

<!-- End Main Content -->

