<% provide(:title, 'Previsualization') %>
<% provide(:carouselimg, 'previz_carousel.jpg') %>
<% content_for :carousel do %>
    <%= render 'layouts/carousel' %>
<% end %>

<div class="page-header" id="whiteBg">
  <h2>Previsualization</h2>
  <div class="row">
	  <div class="col-sm-10">
  <h4>(Pre-Vis)  is a tool designed to map out complicated scenes in order to save time and money during production.  Usually a detailed animation for testing and proving camera and character movement for live action shoots prior to production, pre-vises are also excellent for fundraising pitches.</h4></div></div>

  <div class="row" id="rowspacer">
    <h3 id="leftHeaderMargin">Projects</h3>
    <div class="col-sm-6 col-md-6">
      <div class="videoWrapper" style="margin: 0 auto">
        <iframe allowfullscreen="" src="https://player.vimeo.com/video/78787098" frameborder="0" width="500" height="281"></iframe>
      </div>
    </div>
    <div class="col-sm-6 col-md-6">
      <div class="videoWrapper" style="margin: 0 auto">
        <iframe allowfullscreen="" src="https://player.vimeo.com/video/78787583" frameborder="0" width="500" height="281"></iframe>
      </div>
    </div>
  </div>

</div>

<!-- End Main Content -->

