<% provide(:title, 'VFX') %>
<% provide(:carouselimg, 'previz_carousel.jpg') %>
<% content_for :carousel do %>
    <%= render 'layouts/carousel' %>
<% end %>

<div class="page-header" id="whiteBg">
  <h1>Previsualization</h1>
  <h4>Previsualization is a tool designed to map out complicated scenes in order to save time and money during production. It is a detailed animation used to test and prove camera and character movement for live action shoots, prior to production.
  </h4>

  <div class="row" id="rowspacer">
    <h3 id="leftHeaderMargin">Sample Work</h3>
    <div class="col-sm-6 col-md-3">
      <a href="#" class="thumbnail"><img data-src="js/holder.js/100%x180" alt="..."></a>
    </div>
    <div class="col-sm-6 col-md-3">
      <a href="#" class="thumbnail"><img data-src="js/holder.js/100%x180" alt="..."></a>
    </div>
    <div class="col-sm-6 col-md-3">
      <a href="#" class="thumbnail"><img data-src="js/holder.js/100%x180" alt="..."></a>
    </div>
  </div>

</div>

<!-- End Main Content -->

