<script type="text/javascript">
    $(document).ready(function() {
        $(".fancybox").fancybox();
    });
</script>

<% provide(:title, 'Props') %>
<% provide(:carouselimg, 'props_carousel.jpg') %>
<% content_for :carousel do %>
    <%= render 'layouts/carousel' %>
<% end %>

<div class="page-header" id="whiteBg">
  <h1>Props<br /><small>Some subtitle...</small></h1>
  <p id="rowspacer"></p>
  <p>Some cool copy...</p>

  <div class="row" id="rowspacer">
    <h3 id="leftHeaderMargin">Projects</h3>
    <div class="col-sm-6 col-md-3">
        <a class="fancybox" rel="group" href="/assets/props/600px/props-01.jpg"><img src="/assets/props/props-01.jpg" class="thumbnail"></a>
    </div>
    <div class="col-sm-6 col-md-3">
        <a class="fancybox" rel="group" href="/assets/props/600px/props-02.jpg"><img src="/assets/props/props-02.jpg" class="thumbnail"></a>
    </div>
    <div class="col-sm-6 col-md-3">
        <a class="fancybox" rel="group" href="/assets/props/600px/props-03.jpg"><img src="/assets/props/props-03.jpg" class="thumbnail"></a>
    </div>
    <div class="col-sm-6 col-md-3">
        <a class="fancybox" rel="group" href="/assets/props/600px/props-04.jpg"><img src="/assets/props/props-04.jpg" class="thumbnail"></a>
    </div>
  </div>
</div>


<!-- End Main Content -->

