<script type="text/javascript">
    $(document).ready(function() {
        $(".fancybox").fancybox();
    });
</script>

<% provide(:title, 'Props') %>
<% provide(:carouselimg, 'props_carousel.jpg') %>
<% content_for :carousel do %>
    <%= render 'layouts/carousel' %>
<% end %>

<div class="page-header" id="whiteBg">
  <h1>Props</h1>
  <div class="row">
    <div class="col-sm-9">
      <h4>Anything the actors touch or handle needs to be tailor made for every project. We are passionate about creating elements that define stories and characters. We design weapons, tools and other props that are unique to the story and characters.</h4></div></div>


  <div class="row" id="rowspacer">
    <h3 id="leftHeaderMargin">Projects</h3>
    <div class="col-sm-6 col-md-3">
        <a class="fancybox" rel="group" href="/assets/props/600px/props-01.jpg"><img src="/assets/props/props-01.jpg" class="thumbnail"></a>
    </div>
    <div class="col-sm-6 col-md-3">
        <a class="fancybox" rel="group" href="/assets/props/600px/props-02.jpg"><img src="/assets/props/props-02.jpg" class="thumbnail"></a>
    </div>
    <div class="col-sm-6 col-md-3">
        <a class="fancybox" rel="group" href="/assets/props/600px/props-03.jpg"><img src="/assets/props/props-03.jpg" class="thumbnail"></a>
    </div>
    <div class="col-sm-6 col-md-3">
        <a class="fancybox" rel="group" href="/assets/props/600px/props-04.jpg"><img src="/assets/props/props-04.jpg" class="thumbnail"></a>
    </div>
  </div>
</div>


<!-- End Main Content -->

