<% provide(:title, 'Film') %>
<% content_for :carousel do %>
    <%= render 'layouts/servicescarousel' %>
<% end %>

    <div class="page-header" id="whiteBg">
      <h1>Film, Audio and Marketing<br /><small>GVS connects with your creative story and co-create with you</small></h1>
      <p><strong>Film:</strong> Films: Story and Character consultant, Concept art, Storyboard, Previz, Trailers & Ripomatics, Prop Prototypes, VFX and Animation``
      </p>
      <p><strong>Audio:</strong> GVS Connects with your needs for Music, Sound Design, Sound Fx, enhancing  your project with original ideas created by our international fellowship of artist.
      </p>
      <p><strong>Marketing:</strong> Graphic Design, App Development, Social Network
      </p>
    </div>

    <div class="row">
      <h2>Sample work</h2>
      <h3>Concept Art</h3>
      <div class="col-sm-6 col-md-3">
        <a href="#" class="thumbnail"><img data-src="js/holder.js/100%x180" alt="..."></a>
      </div>
      <div class="col-sm-6 col-md-3">
        <a href="#" class="thumbnail"><img data-src="js/holder.js/100%x180" alt="..."></a>
      </div>
      <div class="col-sm-6 col-md-3">
        <a href="#" class="thumbnail"><img data-src="js/holder.js/100%x180" alt="..."></a>
      </div>
      <div class="col-sm-6 col-md-3">
        <a href="#" class="thumbnail"><img data-src="js/holder.js/100%x180" alt="..."></a>
      </div>
    </div>

    <div class="row" id="rowspacer">
      <div class="col-sm-6 col-md-3">
        <a href="#" class="thumbnail"><img data-src="js/holder.js/100%x180" alt="..."></a>
      </div>
      <div class="col-sm-6 col-md-3">
        <a href="#" class="thumbnail"><img data-src="js/holder.js/100%x180" alt="..."></a>
      </div>
      <div class="col-sm-6 col-md-3">
        <a href="#" class="thumbnail"><img data-src="js/holder.js/100%x180" alt="..."></a>
      </div>
    </div>

    <div class="row" id="rowspacer">
      <h3>Previz</h3>
      <div class="col-sm-6 col-md-3">
        <a href="#" class="thumbnail"><img data-src="js/holder.js/100%x180" alt="..."></a>
      </div>
      <div class="col-sm-6 col-md-3">
        <a href="#" class="thumbnail"><img data-src="js/holder.js/100%x180" alt="..."></a>
      </div>
      <div class="col-sm-6 col-md-3">
        <a href="#" class="thumbnail"><img data-src="js/holder.js/100%x180" alt="..."></a>
      </div>
    </div>

    <div class="row" id="rowspacer">
      <h3>Props</h3>
      <div class="col-sm-6 col-md-3">
        <a href="#" class="thumbnail"><img data-src="js/holder.js/100%x180" alt="..."></a>
      </div>
      <div class="col-sm-6 col-md-3">
        <a href="#" class="thumbnail"><img data-src="js/holder.js/100%x180" alt="..."></a>
      </div>
      <div class="col-sm-6 col-md-3">
        <a href="#" class="thumbnail"><img data-src="js/holder.js/100%x180" alt="..."></a>
      </div>
    </div>

    <div class="row" id="rowspacer">
      <h3>Story & Character Consultant</h3>
      <div class="col-sm-6 col-md-3">
        <a href="#" class="thumbnail"><img data-src="js/holder.js/100%x180" alt="..."></a>
      </div>
      <div class="col-sm-6 col-md-3">
        <a href="#" class="thumbnail"><img data-src="js/holder.js/100%x180" alt="..."></a>
      </div>
      <div class="col-sm-6 col-md-3">
        <a href="#" class="thumbnail"><img data-src="js/holder.js/100%x180" alt="..."></a>
      </div>
    </div>

    <div class="row" id="rowspacer">
      <h3>Storyboard</h3>
      <div class="col-sm-6 col-md-3">
        <a href="#" class="thumbnail"><img data-src="js/holder.js/100%x180" alt="..."></a>
      </div>
      <div class="col-sm-6 col-md-3">
        <a href="#" class="thumbnail"><img data-src="js/holder.js/100%x180" alt="..."></a>
      </div>
      <div class="col-sm-6 col-md-3">
        <a href="#" class="thumbnail"><img data-src="js/holder.js/100%x180" alt="..."></a>
      </div>
    </div>

    <div class="row" id="rowspacer">
      <h3>VFX Animation</h3>
      <div class="col-sm-6 col-md-3">
        <a href="#" class="thumbnail"><img data-src="js/holder.js/100%x180" alt="..."></a>
      </div>
      <div class="col-sm-6 col-md-3">
        <a href="#" class="thumbnail"><img data-src="js/holder.js/100%x180" alt="..."></a>
      </div>
      <div class="col-sm-6 col-md-3">
        <a href="#" class="thumbnail"><img data-src="js/holder.js/100%x180" alt="..."></a>
      </div>
    </div>

    <!-- End Main Content -->

