<script type="text/javascript">
    $(document).ready(function() {
        $(".fancybox").fancybox();
    });
</script>

<% provide(:title, 'Storyboard') %>
<% provide(:carouselimg, 'storyboard_carousel.jpg') %>
<% content_for :carousel do %>
    <%= render 'layouts/carousel' %>
<% end %>

<div class="page-header" id="whiteBg">
  <h1>Storyboard<br /></h1>
  <div class="row">
	  <div class="col-sm-9">
  <h4>Not only can we develop the visual style of your script with concept art, but we have a network that can efficiently and cost effectively sketch out how the production will look by creating high-end Storyboards. </h4>
</div></div>
  <div class="row" id="rowspacer">
    <h3 id="leftHeaderMargin">Projects</h3>
    <div class="col-sm-6 col-md-3">
        <a class="fancybox" rel="group" href="/assets/board/600px/board-01.jpg"><img src="/assets/board/board-01.jpg" class="thumbnail"></a>
    </div>
    <div class="col-sm-6 col-md-3">
        <a class="fancybox" rel="group" href="/assets/board/600px/board-02.jpg"><img src="/assets/board/board-02.jpg" class="thumbnail"></a>
    </div>
    <div class="col-sm-6 col-md-3">
        <a class="fancybox" rel="group" href="/assets/board/600px/board-03.jpg"><img src="/assets/board/board-03.jpg" class="thumbnail"></a>
    </div>
    <div class="col-sm-6 col-md-3">
        <a class="fancybox" rel="group" href="/assets/board/600px/board-04.jpg"><img src="/assets/board/board-04.jpg" class="thumbnail"></a>
    </div>
  </div>

</div>


<!-- End Main Content -->

