<% provide(:title, 'VFX') %>
<% provide(:carouselimg, 'vfx_carousel.jpg') %>
<% content_for :carousel do %>
    <%= render 'layouts/carousel' %>
<% end %>

<div class="page-header" id="whiteBg">
  <h1>VFX (Visual Effects) & Animation</h1>
  <div class="row">
	  <div class="col-sm-9">
  <h4>Creating Environments; Sky Replacements; Set Extensions and Character Animations  are just a few of the services that we provide to serve the  development of your story. In the VFX and Animation department we are passionate about adding to the story - not taking it over.</h4>
</div></div>

  <div class="row" id="rowspacer">
    <h3 id="leftHeaderMargin">Projects</h3>
    <div class="col-sm-6 col-md-3">
      <a href="#" class="thumbnail"><img data-src="js/holder.js/100%x180" alt="..."></a>
    </div>
    <div class="col-sm-6 col-md-3">
      <a href="#" class="thumbnail"><img data-src="js/holder.js/100%x180" alt="..."></a>
    </div>
    <div class="col-sm-6 col-md-3">
      <a href="#" class="thumbnail"><img data-src="js/holder.js/100%x180" alt="..."></a>
    </div>
  </div>
</div>

<!-- End Main Content -->

