<% provide(:title, 'VFX & Animation') %>
<% provide(:carouselimg, 'vfx_carousel.jpg') %>
<% content_for :carousel do %>
    <%= render 'layouts/carousel' %>
<% end %>

<div class="page-header" id="whiteBg">
  <h1>VFX (Visual Effects) & Animation</h1>
  <div class="row">
	  <div class="col-sm-9">
  <h4>Creating environments; sky replacements; set extensions and character animations  are just a few of the services that we provide to serve the  development of your story. In the VFX and animation department we are passionate about adding to the story - not taking over it.</h4>
</div></div>

  <div class="row" id="rowspacer">
    <h3 id="leftHeaderMargin">Projects</h3>
    <div class="col-sm-6 col-md-6">
      <div class="videoWrapper" style="margin: 0 auto">
        <iframe allowfullscreen="" src="https://player.vimeo.com/video/26345795" frameborder="0" width="500" height="281"></iframe>
      </div>
    </div>
    <div class="col-sm-6 col-md-6">
      <div class="videoWrapper" style="margin: 0 auto">
        <iframe allowfullscreen="" src="https://player.vimeo.com/video/78787098" frameborder="0" width="500" height="281"></iframe>
      </div>
    </div>

  </div>
  <div class="row" id="rowspacer">

  <div class="col-sm-6 col-md-6">
    <div class="videoWrapper" style="margin: 0 auto">
      <iframe allowfullscreen="" src="https://player.vimeo.com/video/78787583" frameborder="0" width="500" height="281"></iframe>
    </div>
  </div>
    </div>
</div>

<!-- End Main Content -->

