<% provide(:title, 'VFX') %>
<% provide(:carouselimg, 'vfx_carousel.jpg') %>
<% content_for :carousel do %>
    <%= render 'layouts/carousel' %>
<% end %>

<div class="page-header" id="whiteBg">
  <h1>VFX & Animation<br /><small>Some subtitle...</small></h1>
  <p id="rowspacer"></p>
  <p>Some cool copy...</p>

  <div class="row" id="rowspacer">
    <h3 id="leftHeaderMargin">Sample Work</h3>
    <div class="col-sm-6 col-md-3">
      <a href="#" class="thumbnail"><img data-src="js/holder.js/100%x180" alt="..."></a>
    </div>
    <div class="col-sm-6 col-md-3">
      <a href="#" class="thumbnail"><img data-src="js/holder.js/100%x180" alt="..."></a>
    </div>
    <div class="col-sm-6 col-md-3">
      <a href="#" class="thumbnail"><img data-src="js/holder.js/100%x180" alt="..."></a>
    </div>
  </div>
</div>

<!-- End Main Content -->

