<!-- Carousel
  ================================================== -->
<div id="myCarousel" class="carousel slide">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="item active">
      <%= image_tag "c_home01b.jpg", alt: "" %>
      <div class="container">
        <div class="carousel-caption">
          <h1>Connect</h1>
          <p>Global Virtual Studio connects artists with projects from around the world - facilitating transmedia content creation at a global scale.</p>
        </div>
      </div>
    </div>
    <div class="item">
      <%= image_tag "c_home01.jpg", alt: "" %>
      <div class="container">
        <div class="carousel-caption">
          <h1>Create</h1>
          <p>Creating one-of-a-kind original transmedia products.</p>
          <p><%= link_to "View our work", services_path, class: "btn btn-primary btn-primary" %></p>
        </div>
      </div>
    </div>
    <div class="item">
      <%= image_tag "c_home03.jpg", alt: "" %>
      <div class="container">
        <div class="carousel-caption">
          <h1>Transform</h1>
          <p>Transforming ideas into culture for the kind of world we want to live in.</p>
        </div>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div><!-- /.carousel -->